.Output{
    background-color: rgb(116, 77, 70);
    height: 80px;
    width: 300px;
    display: flex;
    margin-bottom:30px ;
    border-radius: 10px;
    text-align: center;
}
.imgSize{
    height: 70px;
    width: 100px;
    
}
.imgSize img{
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
}
.text{
  margin-top: 10px;
}
.Text{
    margin-top: -50px;
    width: 350px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}
