.cl{
    display: flex;
    justify-content: end;
}
.a:hover{
    text-shadow: 2px 2px rgb(255, 255, 255);
}
@media only screen and (min-width: 0px ) and (max-width:664px){
    .bac {
        width: 10vw;
        background-color: rgb(247, 238, 238);
        text-align: center;
    }
    a:hover{
       
       text-shadow: 2px 2px black;
    }
}
